::after,
::before,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-bottom: 50rem;
}

:root {
  --gray-900: #121214;
  --gray-300: #444448;
  --primary-200: #fcd085;
  --primary-400: #ffbc48;
  --white: #fff;
  --gray: #f3f3f3;
  --background: #060d23;
  --tab-background: #383d4f;
  --gray-dark: #3e3e3e;
  --gray-hover: #f7f7f7;
  --primary-blue: #00e0fe;
  --blue-gray: #bbcfd5;
}
